$image-width: 160px; // 225px
$image-height: 222px; // 350px
$node-width: calc($image-width + 0.3em * 2);

.content {
  display: grid;
  grid-template-columns: 1fr max-content;
  opacity: 0;
  animation: loadIn 0.3s ease-in 0.3s 1 forwards;
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  h1 {
    font-weight: 400;
  }
  h1 i,
  select {
    background-color: inherit;
    color: #aaa;
    font-size: inherit;
    font-style: normal;
    border: none;
    outline: none;
  }
  select {
    margin-left: 0.1em;

    &:hover {
      cursor: pointer;
    }
  }
}

.trailerContent {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;

  &[hidden] {
    opacity: 0;
    pointer-events: none;
  }

  .dismiss {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .watchTrailer {
    padding: 2em;

    iframe {
      display: block;
      background-color: #000;
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}

.featuredContent {
  width: 100%;
  height: 460px;
  margin: 0.6em 0;

  .carousel {
    width: 100%;
    height: 100%;

    border-radius: 0.3em;
    overflow: hidden;

    .item {
      display: grid;
      height: 100%;

      grid-template-rows: minmax(0, 1fr) max-content;

      // background-color: var(--c-main-panel);
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
      );

      div.text {
        display: grid;

        padding: 0.3em;

        //
        margin-bottom: 3em;

        grid-template-columns: 1fr minmax(20%, max-content);
        // align-items: center;
        align-items: end;

        .textContent {
          display: grid;
          // padding: 0.6em 0.3em;
          padding: 0.6em 1em;
          grid-template-rows: max-content 1fr;

          .title {
            display: -webkit-box;
            font-size: 1.6em;
            font-weight: 500;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .description {
            display: -webkit-box;
            font-weight: 400;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .watchNow {
          display: flex;
          justify-content: center;
          gap: 0.3em;
          padding: 0.6em 1em;

          //
          height: 4.5em;

          button.watchButton {
            display: grid;
            padding: 0.8em 1em;

            background-color: var(--c-main-panel);
            border: 0.3em solid transparent;
            border-radius: 0.3em;

            grid-template-columns: repeat(2, max-content);
            justify-content: center;
            gap: 0.6em;

            font-size: 1em;

            transition: background-color, color;
            transition-timing-function: ease-in-out;
            transition-duration: 0.2s;

            &:hover:not(:disabled) {
              background-color: var(--c-main);
              color: #dedef7;
              cursor: pointer;
            }
          }
        }
      }

      .image {
        //
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.rwContent,
.trendingContent {
  display: grid;
  height: calc($image-height + 6em);
  grid-template-columns: repeat(auto-fit, minmax(0, $node-width));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.6em;
  overflow: hidden;
}
.recentContent {
  display: grid;
  // padding: 0 1em;
  grid-template-columns: repeat(auto-fit, minmax(0, $node-width));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.6em;
}

.recentNodePlaceholder {
  display: flex;
  width: calc($image-width + 0.3em);
  height: calc($image-height + 2.8em);
  background-color: rgba(255, 255, 255, 0.02);
  justify-content: center;
  align-items: center;
}
.recentNode {
  display: grid;
  position: relative;
  width: $node-width;
  height: 100%;

  padding: 0;

  background-color: var(--c-main-panel);
  color: #fff;

  justify-content: center;
  align-items: start;
  text-align: center;

  border: 0.3em solid transparent;
  border-radius: 0.3em;

  transition: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  overflow: hidden;

  &:hover {
    background-color: var(--c-main-hov);
    color: #dedef7;
    cursor: pointer;

    div.image {
      opacity: 0.8;
    }
  }

  div.text {
    display: grid;
    padding: 0.3em;

    grid-template-rows: max-content;
    justify-content: center;

    span {
      padding: 0.1em 0.3em;
      text-align: center;
      word-break: break-all;
    }
    .title {
      display: -webkit-box;
      height: 2.67em;
      font-size: 1.2em;
      font-weight: 500;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  div.image {
    display: inline-block;
    position: relative;
    border-radius: 0.3em;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    img {
      display: block;
      width: $image-width;
      height: $image-height;
      object-fit: cover;
      object-position: center;
    }

    .type {
      display: grid;
      position: absolute;
      top: 0;
      // right: 0;
      // bottom: 0;
      left: 0;
      grid-template-rows: max-content;
      align-content: space-between;
      // border-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      overflow: hidden;

      span {
        padding: 0.3em;
        // backdrop-filter: blur(2px);
        font-weight: 500;
      }
      &[data-type='sub'] span {
        display: none;
        // background-color: rgba(0, 109, 176, 0.8);
        // color: #ebf7ff;
      }
      &[data-type='dub'] span {
        background-color: rgba(28, 32, 115, 0.8);
        color: #fff;
        // background-color: rgba(224, 138, 0, 0.8);
        // color: #140d00;
      }
    }
  }
}

.top {
  .header {
    .radioDate {
      margin: 0.3em 0;

      form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 0.6em;

        label {
          display: grid;
          grid-template-columns: max-content 1fr;
          align-items: center;
          gap: 0.3em;

          background-color: var(--c-main-panel);

          padding: 0.1em 0.3em;

          font-size: 0.6em;

          border: 0.3em solid transparent;
          border-radius: 0.3em;

          transition: 0.3s background-color ease-in-out;

          input[type='radio'] {
            &:checked {
              background-color: red;
            }
          }

          &:is([data-active='true']) {
            background-color: var(--c-main);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .top {
    display: none;
  }
}

.topContent {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.6em;
}
.topNode {
  display: grid;
  grid-template-columns: max-content 1fr;
  // gap: 0.6em;

  width: 360px;

  background-color: var(--c-main-panel);
  color: #fff;

  border: 0.3em solid transparent;
  border-radius: 0.3em;

  transition: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  overflow: hidden;

  &:hover {
    background-color: var(--c-main-hov);
    color: #dedef7;
    cursor: pointer;

    div.image {
      opacity: 0.8;
    }
  }

  div.text {
    display: grid;
    padding: 0.1em;

    grid-template-rows: repeat(2, max-content);
    justify-content: start;
    align-content: space-between;

    span {
      padding: 0.1em 0.3em;
      text-align: left;
      word-break: break-all;
    }
    .title {
      display: -webkit-box;
      font-size: 1.1em;
      font-weight: 400;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .ranking {
      color: #aaa;
      font-size: 2em;
      text-align: left;
    }
  }

  div.image {
    display: inline-block;
    position: relative;
    border-radius: 0.3em;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    img {
      display: block;
      width: 85px;
      height: 120px;
    }

    .type {
      display: grid;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      grid-template-rows: max-content;
      align-content: space-between;
      border-radius: 0.3em;
      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      overflow: hidden;

      span {
        padding: 0.3em;
        backdrop-filter: blur(2px);
        font-weight: 500;
        text-align: center;
      }
      &[data-type='sub'] span {
        display: none;
        // background-color: rgba(0, 109, 176, 0.8);
        // color: #ebf7ff;
      }
      &[data-type='dub'] span {
        background-color: rgba(28, 32, 115, 0.8);
        color: #fff;
        // background-color: rgba(224, 138, 0, 0.8);
        // color: #140d00;
      }
    }
  }
}

div.tooltipContent {
  display: block;
  position: fixed;

  background-color: var(--c-main-hov);

  padding: 1em;

  border-radius: 0.3em;
  pointer-events: none;

  transition: 0.1s opacity ease-in-out;
  opacity: 1;

  z-index: 100;

  &[hidden] {
    opacity: 0;
  }

  div.text {
    display: grid;
    max-width: 16em;
    max-height: 350px;
    padding: 0 0 0 0.3em;

    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
    justify-content: start;

    transition: 0.1s ease-in-out;

    &[data-loading='true'] {
      width: 16em;
      height: 6em;
    }

    span {
      text-align: left;
      word-break: break-all;
    }
    .title {
      display: -webkit-box;
      font-size: 1.6em;
      font-weight: 400;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    span::before {
      margin-right: 0.3em;
      color: #aaa;
    }
    .episode::before {
      content: 'Episodes';
    }
    .status::before {
      content: 'Status';
    }
    .genres {
      &::before {
        content: 'Genres';
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .released {
      &::before {
        content: 'Released';
      }
    }
    .score {
      &::before {
        content: 'Score';
      }
    }
    .rating {
      &::before {
        content: 'Rating';
      }
    }
    .summary {
      display: -webkit-box;
      max-width: 720px;
      max-height: 4em;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: normal;

      &::before {
        content: 'Summary';
      }
    }
    .viewMal {
      margin: 1.2em 0;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
