$image-width: 193px; // 225px
$image-height: 318px; // 350px
$node-width: calc($image-width + 0.3em * 2);

.content {
  min-height: calc(100vh - 4em);
  opacity: 0;
  animation: loadIn 0.3s ease-in 0.3s 1 forwards;
}

.content[data-none='true'] {
  display: grid;
  min-height: calc(100vh - 4em);

  justify-content: center;
  align-items: center;
  gap: 0.6em;

  opacity: 0;
  animation: loadIn 0.3s ease-in 0.3s 1 forwards;
}

.noContent {
  display: flex;
  width: 100%;
  min-height: calc(100% - 4em);
  justify-content: center;
  align-items: center;

  opacity: 0;
  animation: loadIn 0.3s ease-in 0.3s 1 forwards;

  div {
    h1 {
      margin: 0.3em 0;
      font-weight: 100;

      i {
        color: #aaa;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  h1 {
    font-weight: 100;
    text-align: center;

    i {
      font-style: normal;
      font-weight: 400;
    }
  }
  h1 i,
  select {
    background-color: inherit;
    color: #aaa;
    font-size: inherit;
    font-style: normal;
    border: none;
    outline: none;
  }
  select {
    margin-left: 0.1em;

    &:hover {
      cursor: pointer;
    }
  }
}

.searchForm {
  display: grid;
  justify-content: center;
}
.searchInput {
  display: inline-grid;
  grid-template-columns: 1fr max-content;

  input[type='text'] {
    border-bottom: 0.1em solid transparent;

    &::placeholder {
      transition: color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
    }

    transition: border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;

    &:focus {
      &::placeholder {
        color: #dedef7;
      }
      border-color: var(--c-main);
    }
  }
}
.searchBar {
  padding: 0.3em;
  background: none;
  font-size: 1.2em;
  border: none;
  outline: none;
}
.searchButton {
  background: none;
  color: #aaa;
  font-size: 1.2em;
  border: none;

  border: 0.3em solid transparent;
  border-radius: 0.3em;

  transition: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  .icon {
    width: 1em;
    height: 1em;
    font-size: inherit;
  }

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.searchContent {
  display: grid;
  // padding: 0 1em;
  grid-template-columns: repeat(auto-fit, minmax(0, $node-width));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.6em;
}

.searchNode {
  display: grid;
  position: relative;
  width: $node-width;
  height: 100%;

  padding: 0;

  background-color: var(--c-main-panel);
  color: #fff;

  justify-content: center;
  align-items: start;
  text-align: center;

  border: 0.3em solid transparent;
  border-radius: 0.3em;

  transition: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  overflow: hidden;

  &:hover {
    background-color: var(--c-main-hov);
    color: #dedef7;
    cursor: pointer;

    div.image {
      opacity: 0.8;
    }
  }

  div.text {
    display: grid;
    padding: 0.3em;

    grid-template-rows: max-content;
    justify-content: center;

    span {
      padding: 0.1em 0.3em;
      text-align: center;
      word-break: break-all;
    }
    .title {
      display: -webkit-box;
      font-size: 1.2em;
      font-weight: 500;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  div.image {
    display: inline-block;
    position: relative;
    border-radius: 0.3em;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    img {
      display: block;
      width: $image-width;
      height: $image-height;
      object-fit: cover;
      object-position: center;
    }

    .type {
      display: grid;
      position: absolute;
      top: 0;
      // right: 0;
      // bottom: 0;
      left: 0;
      grid-template-rows: max-content;
      align-content: space-between;
      // border-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
      overflow: hidden;

      span {
        padding: 0.3em;
        // backdrop-filter: blur(2px);
        font-weight: 500;
      }
      &[data-type='sub'] span {
        display: none;
        // background-color: rgba(0, 109, 176, 0.8);
        // color: #ebf7ff;
      }
      &[data-type='dub'] span {
        background-color: rgba(28, 32, 115, 0.8);
        color: #fff;
        // background-color: rgba(224, 138, 0, 0.8);
        // color: #140d00;
      }
    }
  }
}
